body{
	background-color: #232323;
	margin: 0;
font-family: sans-serif;
 max-width: 100%;

}
.square{
	width:30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin:1.66%;
	border-radius: 15%;
	transition: background 0.4s; 



}
#container {
	margin : 0 auto;
	background-size: cover;
	max-width: 600px;
    



}
#message{
	display: inline-block;
	width: 20%;
}
#colordisplay{
	font-size: 200%;
}
h1{
	text-align: center;
	color:white;
	line-height: 1.1;
	background: steelblue;
	width:100%;
	margin:0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
	background-size: cover;

}
/*span{
	color: black;*/
/*}*/
#stripe{
	background: white;
	height: 30px;
	text-align: center;
	color: black;
	margin-bottom: 5px;

}
.selected{
	background: steelblue;
	color:white;
	border:none;
}
button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color:steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition:all 1s;
	outline: none;

}
button:hover {
	
	background: steelblue;
	border:none;

}
/*.scorepos{
    position: absolute;
    left: 40%;
    bottom: 40px;
    display: block;

}*/